@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
font-family: 'Alfa Slab One', cursive;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
